/**
 *  draw
 *  (c) Rahmat Budiharso <rbudiharso@gmail.com>
 */

.navbar + .container
  margin-top 100px

.form-control
  display inline-block
  min-width 100px

.entries
  overflow auto

.entries-wrapper
  padding-left 0

.entry
  float left
  margin-right 1em
  margin-bottom 1em

.entry span:first-child
  float left
  margin-right 0.5em
  line-height 1.2
