<ul class="entries-wrapper">
  {{#each entries}}
  <li class="btn btn-primary btn-lg entry">
    <span>{{this.attributes.name}}</span>
    <span class="close remove" data-entry-name="{{this.attributes.name}}">&times;</span>
  </li>
  {{/each}}
</ul>
