<div class="col-sm-12">
  <div class="jumbotron text-center"><h1>ARISAN</h1></div>
</div>

<div class="col-sm-12 col-md-6">
  <div class="entries"></div>

  <div class="">
    <input type="text" name="entries" id="entries" placeholder="add an entry and press enter" class="form-control input-lg"/>
  </div>
</div>

<div class="col-sm-12 col-md-6">
  <button type="button" class="btn btn-lg btn-success btn-block draw">DRAW</button>
</div>
