<div class="jumbotron text-center"><h1>ARISAN</h1></div>

<form action="#" method="get" class="form">
  <div class="form-group">
    <div class="col-sm-12 col-md-10">
      <input type="text" name="entries" id="entries" placeholder="entries" class="form-control input-lg"/>
    </div>
    <div class="col-sm-12 col-md-2">
      <button type="button" class="btn btn-lg btn-success draw">DRAW</button>
    </div>
  </div>
</form>
