<div class="jumbotron text-center"><h1>ARISAN</h1></div>
<div>
  <h4 class="entries">Entries</h4>
</div>

<div class="">
  <input type="text" name="entries" id="entries" placeholder="entries" class="col-sm-12 col-md-8 input-lg"/>
</div>
<button type="submit" class="col-md-2 btn btn-lg btn-success add">Add</button>
<button type="button" class="col-md-2 btn btn-lg btn-success draw">DRAW</button>
